<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="systemPath" value="C:\Users\Public\Documents\szwlFormsApplication" />
    <add key="LogDirectory" value="C:\Users\Public\Documents\szwlFormsApplication" />
    <add key="tem_file" value="C:\Users\Public\Documents\szwlFormsApplication\tem" />
    <add key="isRFID" value="0" />
    <add key="packagepath" value="C:\Users\Public\Documents\szwlFormsApplication\packages" />
    <add key="Language" value="English" />
    <!--系统设置参数-->
    <!--公司名称-->
    <add key="CompanyName" value="wcs" />
    <add key="COMID" value="COM3" />
    <add key="DataBits" value="8" />
    <add key="BaudRate" value="9600" />
    <add key="StopBit" value="1" />
    <add key="duration" value="5" />
    <add key="A" value="Order" />
    <add key="B" value="Call" />
    <add key="C" value="CheckOut" />
    <add key="D" value="Satisfied" />
    <add key="E" value="Dissatisfied" />
    <add key="F" value="" />
    <add key="waittimecolor" value="-65408" />
    <add key="timeouttimecolor" value="-8323073" />
    <add key="finishedtimecolor" value="-4144960" />
    <add key="orderby" value="1" />
    <add key="TimeOut" value="5" />
    <add key="TimeUnit" value="M" />
    <add key="MessagetimeHeader" value="" />
    <add key="MessagecallerNumHeader" value="" />
    <add key="MessageemployeeNumHeader" value="" />
    <add key="MessagetypeHeader" value="" />
    <add key="MessagestatusHeader" value="" />
    <add key="MessagecallZoneHeader" value="" />
    <add key="EmployeeIdHeader" value="" />
    <add key="EmployeeemployeeNumHeader" value="" />
    <add key="EmployeenameHeader" value="" />
    <add key="EmployeephonenumHeader" value="" />
    <add key="EmployeeremarksHeader" value="remarks" />
    <add key="EmployeesexHeader" value="" />
    <add key="UserProgram_Admin" value="0_1_2_3_4_5_6_7_8" />
    <add key="UserProgram_normal" value="0_3_4_7_8" />
  </appSettings>
</configuration>