<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="systemPath" value="F:\szwl无线呼叫系统\szwlFormsApplication(究极版）\szwlFormsApplication\szwlFormsApplication" />
    <add key="LogDirectory" value="F:\szwl无线呼叫系统\szwlFormsApplication(究极版）\szwlFormsApplication\log\" />
    <add key="isRFID" value="1" />
    <add key="packagepath" value="F:\szwl无线呼叫系统\szwlFormsApplication(究极版）\szwlFormsApplication\szwlFormsApplication\packages" />
    <add key="isRFID" value="1" />
    <!--系统设置参数-->
    <!--公司名称-->
    <add key="CompanyName" value="巨无霸" />
    <add key="COMID" value="COM3" />
    <add key="DataBits" value="8" />
    <add key="BaudRate" value="115200" />
    <add key="StopBit" value="1.5" />
    <add key="duration" value="5" />
    <add key="A" value="a" />
    <add key="B" value="" />
    <add key="C" value="" />
    <add key="D" value="" />
    <add key="E" value="" />
    <add key="F" value="" />
    <add key="waittimecolor" value="-16777088" />
    <add key="timeouttimecolor" value="-65536" />
    <add key="finishedtimecolor" value="-4144960" />
    <add key="orderby" value="1" />
    <add key="TimeOut" value="10" />
  </appSettings>
</configuration>