<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="systemPath" value="D:\WorkSpace\szwlFormsApplication\szwlFormsApplication\szwlFormsApplication" />
    <add key="LogDirectory" value="D:\WorkSpace\szwlFormsApplication\szwlFormsApplication\szwlFormsApplication" />
    <add key="isRFID" value="1" />
    <add key="packagepath" value="D:\WorkSpace\szwlFormsApplication\szwlFormsApplication\szwlFormsApplication\packages" />
    <add key="isRFID" value="1" />
    <add key="Language" value="English" />
    <!--系统设置参数-->
    <!--公司名称-->
    <add key="CompanyName" value="good day" />
    <add key="COMID" value="COM3" />
    <add key="DataBits" value="8" />
    <add key="BaudRate" value="9600" />
    <add key="StopBit" value="1" />
    <add key="duration" value="5" />
    <add key="A" value="a" />
    <add key="B" value="" />
    <add key="C" value="" />
    <add key="D" value="" />
    <add key="E" value="" />
    <add key="F" value="" />
    <add key="waittimecolor" value="-8355585" />
    <add key="timeouttimecolor" value="-65536" />
    <add key="finishedtimecolor" value="-4144960" />
    <add key="orderby" value="1" />
    <add key="TimeOut" value="15" />
    <add key="MessagetimeHeader" value="呼叫时间" />
    <add key="MessagecallerNumHeader" value="呼叫器编号" />
    <add key="EmployeeemployeeNumHeader" value="员工编号" />
    <add key="MessageemployeeNumHeader" value="人员编号" />
    <add key="MessagetypeHeader" value="呼叫类型" />
    <add key="MessagestatusHeader" value="呼叫状态" />
    <add key="MessagecallZoneHeader" value="" />
    <add key="UserProgram_Admin" value="0_1_2_3_4_5_6_7_8" />
    <add key="UserProgram_normal" value="0_3_4_7_8" />
    <add key="EmployeenameHeader" value="哈哈" />
  </appSettings>
</configuration>